@media (min-width: 768px) {
	.navbar1 { 
		display: block!important;
		visibility:visible!important; 
	}
	.navbar-toggler {
		display: none;
	}
	.searchbox-sm {
		display: none;
	}
	.footer-sm { 
		display: none;
	}
}

@media (max-width: 767.98px) {
	.searchbox-md {
		display: none;
	}
	.footer-lg { 
		display: none;
	}
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}    

.form-control:focus {
  outline: none;
  box-shadow:none !important;
  border:1px solid #690000;
}

a:link {
	text-decoration: none;
	outline: none !important;
    box-shadow: none !important;
}
  
#menu  {
	position: absolute; 
	background-color: #690000;
	right: -42%;
}

#menu2  {
	position: absolute; 
	background-color: #690000;
	right: -180%;
}

#menu3  {
	position: absolute; 
	background-color: #690000;
	right: -24%;
}

#menu4  {
	position: absolute; 
	background-color: #690000;
	right: -19%;
}

#menu5  {
	position: absolute; 
	background-color: #690000;
	right: -70%;
}

#menu-item {
	background-color: #690000;
	color: white;
}

#menu-item:hover {
	color: #e6b7b7;
}

.nav-link {
	background-color: #ffffff;
	color: black;
}

.nav-link:hover {
	color: #690000;
	}

#mivzaim {
	color:#d9534f;
}

#mivzaim:hover {
	color: #690000;
}

.navbar {
	margin-left: 42px;
}

.mumlazim {
	background-color: #690000;
	color: white;
}

.link-hovered:hover {
	color: #e6b7b7;
}

.card-height {
	min-height: 75px;
}

.card-height:hover {
	color: #690000;
}



hr {
	margin: 0;
}

.brdr {
	border: 4px solid #690000;
	border-radius: 25px;
}

.hvr:hover {
	color: #690000;
}

.txt {
	color: #690000;
}

ul {list-style: none;}

@media (min-width: 992px) { 
	.bgimage {
	background-image: url(../images/bg-lg.png);
}
 }

@media (max-width: 991.98px) { 
	.bgimage {
	background-image: url(../images/bg-sm.png);
}
 }

.page-link:hover {
	background-color: black;
	color: #e6b7b7;
	}

.page-link {
	border-radius: 7px;
	background-color: #333A40;
	color: white;
}

.hrpage {margin-top: 100px;}